<h1 class="animated fadeIn fast">About Comic App</h1>
<hr>
<p class="animated fadeIn">
  Proin malesuada felis nec arcu iaculis, id fermentum tellus molestie. Proin tempus a diam at cursus. Nam eleifend, leo a pellentesque porta, ipsum libero tincidunt elit, vel aliquet velit neque ut nisi. Suspendisse potenti. Mauris pharetra, ipsum sit amet maximus luctus, quam nulla faucibus justo, in porttitor nisl nibh ornare justo. Curabitur vitae blandit neque. Pellentesque luctus, arcu at ornare aliquet, orci tellus scelerisque tellus, eu pellentesque leo dui a est. Praesent id dolor dignissim, varius nibh at, rutrum purus. Suspendisse massa nisl, luctus in libero id, convallis luctus ligula.
</p>
