<h1 class="animated fadeIn">{{hero.name | uppercase }} <small>({{hero.add | date: 'y'}})</small></h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="hero.img" class="img-fluid" [alt]="hero.name">
    <br><br>
  </div>
  <div class="col-md-8">
    <h3>{{hero.name}}</h3>
    <hr>
    <p>{{hero.biog}}</p>
    <div class="d-flex justify-content-center">
      <img *ngIf="hero.home=='Marvel'" class="img-l" src="assets/img/marvel.png" [alt]="hero.home">
      <img *ngIf="hero.home=='DC'" class="img-l" src="assets/img/dc.png" [alt]="hero.home">
    </div>
    <a [routerLink]="['/heroes']" class="btn btn-outline-info float-right">Return to</a>
  </div>
</div>
